@page "/"

<PageTitle>ProtoBuf</PageTitle>

<Card>
    <CardHeader>
        <CardTitle>???</CardTitle>
    </CardHeader>

    <CardBody>
        

        <Field ColumnSize="ColumnSize.Is1">
            <Button Clicked="@OnClick" Color="Color.Primary" Disabled="@ProcessButtonDisabled">Process</Button>
        </Field>
        
        @_json

    </CardBody>
</Card>